.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Caro img{
  height: 450px;
  object-fit: fill;
}
.Caro{
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.aboutimg img{
  box-shadow : 0 10px 20px rgba(0, 0, 0, 0.4) ;
}

.project-card{
  transition: all 500ms;
  overflow: hidden;
  height: 400px; ;
  width: fit-content;
  padding: 10px;
  
}
.inp{
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 0;
  font-size: 13px!important;
  display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out , box-shadow .15s ease-in-out;
}

.icon{
  color:  #5B8291;
  font-size: 24px;
}

.about-banner{
  background: -webkit-linear-gradient(0deg, #28313B 0%, #485461 100%);
}
.about-content{
  margin-top: 70px;
  padding: 90px 0px;
  text-align: center;
}
.project-card img{
  height: 80px;

}

/* .imgOffer img{
  margin-top: 10px;
  width: 100%;
  height: 500px;
} */



/* .down{
  position:relative ;
  width: 100%;
  bottom: 0px;
  
} */




.cont {
  position: relative;
  width: 100%;
  margin-top: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: 500px;
  transition: 1s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 1s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.cont:hover .image {
  opacity: 0.3;
}

.cont:hover .middle {
  opacity: 1;
}
.cont:hover .text {
  color: #fff;
}

.text {
  background-color: #173847;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  text-decoration: none;
}

.project-card a{
  text-decoration: none;
  color: #173847;
  
}
/* projects */

#my-projects .filters-btns .filter-btn {
  font-size: 12px;
}

#my-projects .filters-btns .filter-btn.active,
#my-projects .filters-btns .filter-btn:hover {
  color: #28313B;
}

#my-projects .filters-btns .filter-btn::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: var(--bs-dark);
  transition: width 300ms;
}

#my-projects .filters-btns .filter-btn:hover::after {
  width: 60%;
}

#my-projects #projects .project-card {
  transition: all 500ms;
  overflow: hidden;
}

#my-projects #projects .img-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--bs-gradient);
  opacity: 0;
  border-radius: 5px;
  transition: opacity 250ms;
}

#my-projects #projects .project-card:hover .img-overlay {
  opacity: 0.7;
}
